[Global]
MoveFirst=false

[Entry 0]
Name=Command Prompt
Name[am]=ትዕዛዝ መስጫ
Name[ar]=سطر الأوامر
Name[be]=Загадны радок
Name[ca]=Indicador d’ordres
Name[cs]=Příkaz
Name[da]=Kommandoprompt
Name[de]=Befehlseingabe
Name[el]=Γραμμή εντολών
Name[en_GB]=Command Prompt
Name[eo]=Komandinvito
Name[es]=Línea de comandos
Name[et]=Käsuviip
Name[eu]=Komando lerroa
Name[fr]=Ligne de commande
Name[he]=שורת פקודה
Name[hu]=Parancssor
Name[id]=Siap Ketik Perintah
Name[ja]=コマンドプロンプト
Name[ko]=명령어 입력
Name[ku]=Nîşana fermanan
Name[lv]=Komandu līnija
Name[mk]=Команда
Name[nb_NO]=Kommandolinje:
Name[nl]=Commando-regel
Name[pa]=ਕਮਾਂਡ ਪਰਾਉਂਟ
Name[pl]=Znak Zachęty
Name[pt_BR]=Prompt de comandos
Name[pt_PT]=Comando Prompt
Name[ro]=Linie de comandă
Name[ru]=Командная строка
Name[si]=විධාන ප්‍රේරකය
Name[sv]=Kommandorad
Name[tr]=Komut Satırı
Name[ur]=کمانڈ پرمپٹ
Name[vi]=Dấu nhắc lệnh
Name[zh_CN]=命令提示符
Name[zh_TW]=指令提示
Comment=X terminal emulator
Comment[am]=ተርሚናል አሳይ
Comment[ar]=اكس ترمينل اميلاتور
Comment[be]=Эмулятар X тэрмінала
Comment[ca]=Emulador de terminal
Comment[cs]=Emulátor terminálu X
Comment[da]=X terminalemulering
Comment[de]=X-Terminalemulator
Comment[el]=Προσομοίωτής τερματικού X
Comment[en_GB]=X terminal emulator
Comment[eo]=X-Terminala imitilo
Comment[es]=Emulador de terminal para X
Comment[et]=X terminal emulaator
Comment[eu]=X terminal emuladorea
Comment[fr]=Émulateur de terminal X
Comment[he]=מסוף
Comment[hu]=X terminál emulátor
Comment[id]=Emulator terminal X
Comment[ja]=X ターミナルエミュレータ
Comment[ko]=X 터미널
Comment[ku]=Emulatorê termînala X
Comment[lv]=X termināla emulators
Comment[mk]=Емулатор за терминал за X
Comment[nb_NO]=X terminal emulator
Comment[nl]=X terminal emulator
Comment[pa]=X ਟਰਮੀਨਲ ਈਮੁਲੇਟਰ
Comment[pl]=Emulator terminala X
Comment[pt_BR]=Emulador de terminal do X
Comment[pt_PT]=Emulador de Terminal X
Comment[ro]=Emulator de terminal X
Comment[ru]=X эмулятор терминала
Comment[si]=X terminal emulator
Comment[sq]=Emulues terminali X
Comment[sv]=Terminalemulator för X
Comment[tr]=X Terminal Uygulaması
Comment[ur]=ایکس ٹرمنل ایمولیٹر
Comment[vi]=Trình giả lập terminal X
Comment[zh_CN]=X 终端模拟器
Comment[zh_TW]=X 終端機模擬器
Icon=utilities-terminal
Exec=exo-open --launch TerminalEmulator
Terminal=false
StartupNotify=true
