[Global]
MoveFirst=false

[Entry 0]
Name=File Manager
Name[am]=ፋይል አስተዳዳሪ
Name[ar]=مدير الملفات
Name[be]=Кіраўнік файлаў
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[en_GB]=File Manager
Name[eo]=Dosier-administrilo
Name[es]=Gestor de ficheros
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fr]=Gestionnaire de fichiers
Name[he]=סייר קבצים
Name[hu]=Fájlkezelő
Name[id]=Manajer Berkas
Name[ja]=ファイルマネージャー
Name[ko]=화일 관리자
Name[ku]=Gerînendeyê Pelan
Name[lv]=Failu pārvaldnieks
Name[mk]=Менаџер на датотеки
Name[nb_NO]=Filadministrasjon
Name[nl]=Bestandsbeheer
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menadżer plików
Name[pt_BR]=Gerenciador de arquivos
Name[pt_PT]=Gestor de Ficheiros
Name[ro]=Administrator de fişiere
Name[ru]=Управление файлами
Name[si]=ගොනු කළමණාකරු
Name[sq]=Përgjegjës Kartelash
Name[sv]=Filhanterare
Name[tr]=Dosya Yöneticisi
Name[ur]=فائل منیجر
Name[vi]=Trình quản lí tập tin
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理程式
Comment=Manage files and folders
Comment[am]=ፍይሎችንና ዶሴዎችን አስተዳድር
Comment[ar]=أدر الملفات والمجلدات
Comment[be]=Кіраваньне файламі і тэчкамі
Comment[ca]=Gestiona fitxers i directoris
Comment[cs]=Spravovat soubory a adresáře
Comment[da]=Administrer filer og mapper
Comment[de]=Dateien und Ordner verwalten
Comment[el]=Διαχείριση αρχείων και φακέλων
Comment[en_GB]=Manage files and folders
Comment[eo]=Administru dosierojn kaj dosierujojn
Comment[es]=Gestione ficheros y carpetas
Comment[et]=Halda faile ja kaustu
Comment[eu]=Fitxategi eta karpetak kudeatu
Comment[fr]=Gérer des fichiers et dossiers
Comment[he]=ארגן קבצים ותיקיות
Comment[hu]=Fájlok és mappák kezelése
Comment[id]=Atur berkas dan folder
Comment[ja]=ファイルやフォルダを管理します
Comment[ko]=화일과 디렉토리를 관리합니다.
Comment[ku]=Grînendeya pel û peldankan
Comment[lv]=Pārvaldīt failus un mapes
Comment[mk]=Менаџирајте со датотеки и папки
Comment[nb_NO]=Administrere filer og mapper
Comment[nl]=Bestanden en mappen beheren
Comment[pa]=ਫਾਇਲਾਂ ਅਤੇ ਫੋਲਡਰ ਪਰਬੰਧ
Comment[pl]=Zarządzaj plikami i katalogami
Comment[pt_BR]=Gerenciar arquivos e pastas
Comment[pt_PT]=Gerir pastas e ficheiros
Comment[ro]=Administrare de fişiere şi directoare
Comment[ru]=Управление файлами и папками
Comment[si]=ගොනු හා ෆෝල්ඩර කළමණාකරනය කරන්න
Comment[sq]=Administroni kartela dhe dosje
Comment[sv]=Hantera filer och kataloger
Comment[tr]=Dosyaları ve dizinleri düzenle
Comment[ur]=فائلوں اور فولڈروں کی ادارت کریں
Comment[vi]=Quản lý tập tin và thư mục
Comment[zh_CN]=管理文件及文件夹
Comment[zh_TW]=管理檔案及資料夾
Icon=Thunar
Exec=thunar
Terminal=false
StartupNotify=true

