
[Desktop Entry]
Version=1.0
Type=Application
Name=Xfce4 Power Manager
Icon=gpm-ac-adapter
Exec=xfce4-power-manager -r
StartupNotify=false
Terminal=false
Hidden=false
OnlyShowIn=XFCE;
